aside{
    width: 20rem;
    margin: 1rem;
border: 1px solid rgb(0 0 0 / 0.2);
padding:1rem ;
background:#eee ;
color: #333;
text-align: center;
}
aside img{
    width: 200;
    height: auto;
}
main img{
    width: 150px;
    height: auto;
}
aside p, main p{
    padding: 0px;
    text-align: center;
}
footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}