:root {
    --primary-color: #e7ecef;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Time New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.hero {
    position: relative;
    display: block;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero h1 {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    color: var(--accent1-color);
}

.hero article {
    position: absolute;
    top: 15px;
    right: 25px;
    background-color: rgba(231, 236, 239, 0.8);
    padding: 50px;
    max-width: 300px;
    height: 20px;
}

.hero article img {
    float: right;
    margin-left: 20px;
    border: 2px solid var(--accent2-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia {
    text-decoration: none;
}

.socialmedia img {
    width: 50px;
    transition: 0.3s;
}

.socialmedia img:hover {
    filter: sepia(1) saturate(5) hue-rotate(340deg);
    border-bottom: 2px solid var(--secondary-color);

}