:root{
    --primary-color:#055a05; /*forest green*/
    --secondary-color:#f4a261; /*warm sand*/
    --accent1-color:#264653; /*darkslate blue*/
    --accent2-color:#e9c46a; /*light golden yellow*/
    --heading-font:"Times New Roman","Georgia", serif;
    --body-font:Arial,Helvetica,sans-serif;
}
header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    width: 100%;
    max-width: 840px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: var(--body-font);
    color: var(--accent1-color);
}
header,main,footer{
    width: 840px;
    margin: 0 auto;
    font-family: var(--body-font);
   
}

/*.logo-container {
margin-bottom: 15px;
align-self: center;
}

.logo {
    height: auto;
    width: 250px;
}*/

nav {
    list-style-type: disc; /* Adds the bullet points seen in the image */
    padding-left: 20px;
    margin: 0 0 20px 0;
}

nav a {
    margin-bottom: 2px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.hero{
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 4px 4px 8px 055a05;
}

h1 {
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: justify;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff; /* white text- make sure there is enough contrast wtih the background-color */
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    margin-top: 20px;
    clear: both;
}


.hero article img {
    float: right;
    width: 125px;
    border: green;
    margin: 1rem;
    box-shadow: #055a05;
}

hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero {
    position: relative;
    width: 100%;
    max-width: 840px; /* ou la largeur de ton image */
    margin: 0 auto;
}


.hero h1 {
   position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(38, 70, 83, 0.7);
    color: white;
    padding: 1rem;
    font-family: var(--heading-font);
}

.hero article {
     position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 1rem;
    max-width: 300px;
}



footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;           /* s'adapte aux petits écrans */
}

.socialmedia img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.socialmedia img:hover {
    transform: scale(1.2);
}


footer p {
    margin: 0;
}

.socialmedia {
    display: flex;
    flex-direction: column; /* vertical */
    gap: 0.75rem;
}

.socialmedia a {
    text-decoration: none;
    display: flex;
    gap: 1rem;
}


