:root{
    --primary-color:#055a05; /*forest green*/
    --secondary-color:#f4a261; /*warm sand*/
    --accent1-color:#264653; /*darkslate blue*/
    --accent2-color:#e9c46a; /*light golden yellow*/
    --heading-font:"Times New Roman","Georgia", serif;
    --body-font:Arial,Helvetica,sans-serif;
}
header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    width: 100%;
    max-width: 840px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: var(--body-font);
    color: var(--accent1-color);
}
header,main,footer{
    width: 840px;
    margin: 0 auto;
    font-display: block;
   
}

.logo-container {
margin-bottom: 15px;
align-self: center;
}
fr9
.logo {
    height: auto;
    width: 250px;
}
nav {
    list-style-type: disc; /* Adds the bullet points seen in the image */
    padding-left: 20px;
    margin: 0 0 20px 0;
}

nav a {
    margin-bottom: 2px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.hero{
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: justify;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff; /* white text- make sure there is enough contrast wtih the background-color */
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    margin-top: 20px;
    clear: both;
}
.hero {
    position: relative;
}

hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    font-display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;
    border: green;
    margin: 1rem;
    box-shadow: #055a05;
}

footer {
    background-color: #0b3c49;  /* couleur du footer */
    color: white;               /* texte en blanc */
    padding: 1rem 2rem;         /* espace interne */
    display: flex;              /* pour aligner texte et icônes */
    justify-content: space-between; /* espace entre texte et icônes */
    align-items: center;        /* centrer verticalement */
    flex-wrap: wrap;            /* s'adapte aux petits écrans */
}
.socialmedia {
    display: flex;
    flex-direction: column; /* vertical */
    gap: 0.75rem;
}

.socialmedia a {
    text-decoration: none;
    display: flex;
    gap: 1rem;
}
.socialmedia img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.socialmedia img:hover {
    transform: scale(1.2);
}
