*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
font-size: 16px;
font-family: Roboto, Arial, sans-serif;
}

nav{
    background-color: steelblue;
    padding: 10px;
}

nav a{
    color: white;
    padding: 10px;
    display: block;
}

h1{
    color: steelblue;
    padding: 5rem;
}

main{
    max-width: 640px;
}

main img{
    width: 200px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
    
}

p{
    margin: 1rem;
}

aside{
    width: 20em;
    text-align: center;
    position: relative;
}

aside img{
    width: 200px;
    height: auto;

}

aside h2{
    position: absolute;
    top: 67px;
    left: 100px;
}

footer{
    margin-top: 1em;
    border-top: 1px solid black #000;
    text-align: center;
}

/* class selectors */
.box{
   margin: 1em;
   border: 1px solid rgba(0,0, 0, .1);
   padding: 1rem; 
   background-color: #eee;
}

.indent{
    padding-left: 1rem;
}