:root{
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 00 30px gray;
}
p{
    padding: 0;
}
h1{
    color: steelblue;
}
main img{
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 00 30px gray;
}
aside{
    width: 20em;
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1em;
    background-color: white #eee;
    color: #333;
    text-align: center;
}
aside img{
    width: 200px;
    height: auto;
}
footer{
    margin-top: 1em;
    border-top: 1px solid black #000;
    text-align: center;
}


nav{
    background-color: darkblue;
    padding: 10px;
};
nav a {
    color: white;
    display: block;
    padding: 2em;
}