main{
   width: 840px;
  
}
aside{
    width: 20rem;
    margin: 1rem;
border: 1px solid rgb(0 0 0 / 0.2);
padding:1rem ;
background:#eee ;
color: #333;
text-align: center;
}

p{
    padding: 0px;
}

main{
     width: 840px;
    margin: 1rem;
border: 0px solid rgb(0 0 0 / 0.2);
padding:1rem ;
background:#fff ;
color: #333;
text-align: center;
}

aside img{
    width: 200;
    height: auto;
}
main img{
    width: 150px;
    height: auto;
}
aside p{
    padding: 0px;
    text-align: justify;
}
main p{
    padding: 0%;
    text-align: justify;
}
footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}