main{
   width: 840px;
  
}


p{
    padding: 0px;
}
nav{
    background-color: #fff;
    padding: 0px;
}
nav a{
    padding: 0px;
    color: #fff;
    display: grid;
}


main{
     width: 840px;
    margin: 1rem;
border: 0px solid rgb(0 0 0 / 0.2);
padding:1rem ;
background:#fff ;
color: #333;
text-align: center;
}
h1{
    color: #000;
}

main img{
     width: 2rem;
     height: auto;
    margin: 1rem;
border: 0px solid rgb(0 0 0 / 0.2);
padding:1rem ;
box-shadow: none;
}
aside{
    width: 20rem;
    margin: 1rem;
border: 1px solid rgb(0 0 0 / 0.2);
padding:1rem ;
background-color:#eee ;
color: #333;
}

aside img{
    width: 200px;
    height: auto;
}
main img{
    width: 150px;
    height: auto;
}
aside p{
    padding: 0px;
    text-align: justify;
}
main p{
    padding: 0%;
    text-align: justify;
}
footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}